<!DOCTYPE html>
<html>
<head>
	<title>To-Do App</title>
	{% include 'headers.html' %}
</head>
<body style="background-color: #ff00f8;">
	{% include 'navbar.html' %}
	<!-- <img src="static/images/81nia28xsOL._SY355_.jpg" class="center"> -->
	<h1 class="ml6">
  		<span class="text-wrapper">
    		<span class="letters">ToDos In One Place</span>
  		</span>
	</h1>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.0/anime.min.js"></script>
	<script type="text/javascript" src="static/js/script.js"></script>
</body>
</html>